# Файли журналів
*.log

# Тимчасові файли
*.tmp

# Файли конфігурації з особистими даними
.env

# Резервні копії
*.bak

# Папки, створені під час компіляції або збирання проєкту
/build/
/dist/

# Залежності
node_modules/

# Папки та файли операційної системи
.DS_Store
Thumbs.db

# Інші
/temp/
/cache/